@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.ui.accordion {
    text-align: center;
    color: #173630;
    background:#E3F1DF;
    font-family: 'Lato', sans-serif;
    width: 264px;
    height: 936px;
};