@import '../../../node_modules/semantic-ui-css/semantic.min.css';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  // align-items: baseline;
  justify-content: center;
  background-color: $primary-lightest;

  .login-header {
    h2 {
      font-size: 24pt;
      font-family: $primary-font;
      color: $accent-dark;
    }
  }

  .form-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    background-color: $off-white;
    border: 1px solid $primary-light;
    border-radius: 6px;

    form {
      padding: 40px;

      .ui.form {
        .field.field {
          border-color: $primary-color;
          input {
            border-color: $primary-color;
          }
        }
      }

      .ui.large.button {
        background-color: $primary-color;
      }
    }

    .login-redirect {
      padding-bottom: 15px;
      .login-link {
        @include link-text();
      }
    }
  }
}