@import './styles/variables.scss';

.app-container {
  text-align: center;

  .checkbox {
    border: 2px solid $primary-light;
    border-radius: 40%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
  }

  .unchecked {
    background-color: white;
  }

  .checked {
    background-color: $primary-light;
  }

  .unchecked:after {
    content: '';
  }

  .checked:after {
    content: '\2713 ';
  }

  li {
    display: flex;
  }

}